*{
    
    list-style: none;
    text-decoration: none;
    background-color: #ffffff;
}

header{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    position: sticky;
    width: 100% ;
    height: 145px;
    padding: 35px 0;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}


.header-container{
    flex: 1;
    text-align: center;
    background-color: #ffffff;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    overflow: hidden;
    background-color: white;
}

.nav-bar a{
    display: flex;
    color: #334551;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: white;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.nav-bar a:hover{
    text-shadow: 0 0 10px #fcb900;
}

.nav-bar li{
    margin-right: 20px;
}

.requirement-list li{
    list-style: circle;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
    background-color: #366cbd;
}

.Logo{
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
}

body{
    width: 100%;
    margin: 0px;
    padding: 0%;
    flex-direction: column;
     align-items: center;
     background-color: #366cbd;
     font-family: sans-serif;

}
/*
.job-detail-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 10px;
    padding: 2rem;
    margin-right:-430px;
    position: relative;
    width: 900px;
    margin-top: -1015px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #fcb900;
  border-radius: 10px;
  align-content: flex-end;
  justify-content: space-between;

} */

.job-detail-container{
  display: grid;
  width: 980px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-right: -400px;
  margin-top: -1014px;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7,.item-8,.item-9,.item-10,.item-11,.item-12 {
  padding: 5px;
  
  text-align: center;
}


.job-detail-tags-container{
  display: flex;
  flex-direction: row;
  margin-right: -435px;
  margin-top: 30px;
  margin-bottom: -20px;
  padding: 20px;
  height: 5vh;
  width: 933px;
  gap: 10%;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #366cbd;
}

.job-detail-tags-container li{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #366cbd;
}

.related-job{
    display: flex;
    background-color: #ffffff;

}

.related-job-container:hover{
    box-shadow: 0 0 10px #fcb900;  
}


.related-job-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    padding: 2rem;
    height: 117vh;
    margin-right: 996px;
    background-color: #ffffff;
    justify-content: space-evenly;
    box-shadow: 0 0 10px #fcb900;
  border-radius: 10px;
  overflow-y: scroll;
  flex-grow: 1;
}

.related-job-title{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    flex-direction: row-reverse;
    align-items: center;
}

.related-job-logo{
    display: flex;
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border: none;
    padding: 4px;
   
    margin-top: 10px;
}

.about-the-company-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    padding: 2rem;
    margin-right: 17px;
    margin-top: 50px;
    width: 453px;
    height: 51vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px #fcb900;
  border-radius: 10px;
  overflow-y: scroll;

}

.requirements-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    padding: 2rem;
    margin-right: -985px;
    margin-top: -478px;
    width: 350px;
    height: 51vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px #fcb900;
  border-radius: 10px;
  overflow-y: scroll;

}

.buttons-container{
display: flex;
justify-content: space-evenly;
background-color: #ffffff;

}

.job-tag-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* buttons */

.button-1, .button-2, .button-3{
  color: black;
  background-color: lightgray;
  border: none;
  padding: 5px;
}

.details-button,.apply-now-button{
    color: #ffffff;
    background-color: #366cbd;
    border-radius: 10%;
    height: 30px;
    width: 20;
}

.details-button:hover,.apply-now-button:hover{
    box-shadow: 0 0 10px #366cbd;
}

.job-detail-apply-now{
  display: grid;
    background-color: #366cbd;
    color: #ffffff;
    margin-right: -450px;
    width: 130px;
    height: 65px;
    border-radius: 15px;
    grid-row: 3;
    grid-column: 3;
}

.job-detail-title h2{
  display: grid;
  grid-row: 2;
  grid-column: 3;

}

.button-tag{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 180%;
  width: 20%;
  background-color: lightgray;
  border-radius: 10px;
}

.requirement-list{
    background-color: #ffffff;
}


.job-1,.job-2,.job-3,.job-4{
    background-color: #ffffff;
}

h2,h3,h4,h5,h6,p{
    background-color: #ffffff;
    display: contents;
}

.requirement-list ul,li{
    list-style: circle;
    background-color: #ffffff;
}

.job-description-list{
    background-color: white;
   
}

.job-description-list li{
    list-style: circle;
    background-color: #ffffff;
}

.job-description-logo{
    width: 10%;
    height: 17%;
    position: absolute;
    top: 40%;
    border-radius: 48%;
    border: 3px solid rgb(255, 255, 255);
    background-color: #ffffff;
}

.nav-bar ul,li{
    list-style: none;
}

.main-image-container{
  grid-column: 1 / 4;
}

.main-image {
  padding: 10px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  width: 97%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}


form {
    background-color: #ffffff;
    padding: 90px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
.personal-info-container{
    display: grid;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(1,900px);
    align-items: end;
    gap: 30px;
}

.skill-container {
    display: grid;
    grid-template-rows: repeat(2, 164px);
    grid-template-columns: repeat(4,165px);
    align-items: center;
    justify-items: center;
    
}

.work-experience-registration-form{
    display: grid;
    grid-template-rows: repeat(auto-fit, 80px);
    grid-template-columns: repeat(auto-fit,900px);
    align-items: center;
    gap: 30px;
}

.item {
    display: flex;
    
    align-items: center; 
    width: 60%;
}

.item-5 textarea {
    width: 90%;
    height: 100px; 
}
.Greensol{
    background-color: #366cbd;
    font-size: 250%;
    display: flex;
    margin-top: 100px;
}

.choose-file-pic {
    background-color: #366cbd;
}

.page-info{
    background-color: #366cbd;
    color: #fcb900;
    font-size: 150%;
}

.reference-container{
display: grid;
grid-template-rows: repeat(5,80px);
grid-template-columns: repeat(1,900px);
gap: 30px;
align-items: center;
}

.education-container{
    display: grid;
    grid-template-rows: repeat(5,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    align-items: center;
}

.availability-container{
    display: grid;
    grid-template-rows: repeat(5,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    align-items: center;
}

.address-container{
    display: grid;
    grid-template-rows: repeat(2,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    align-items: center;
}

.item-1 textarea {
    width: 90%;
    height: 100px; 
}

.add-info-container{
    display: grid;
    grid-template-rows: repeat(8,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    align-items: center;
}

.item-3 textarea {
    width: 90%;
    height: 100px; 
}

.form-input {
    padding: 10px;
        border: 1px solid #fcb900;
         border-radius: 5px;
        width: 100%;
        font-size: 16px;
        transition: box-shadow 0.3s;
  }
  .form-input:hover {
    box-shadow: 0 0 10px #366cbd;
  }

    .tel-input {
        padding: 10px;
        border: 1px solid #fcb900;
         border-radius: 5px;
        width: 100%;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }
      
      .tel-input:hover {
        box-shadow: 0 0 10px #366cbd;  
      }

      .email-input {
        padding: 10px;
        border: 1px solid #fcb900;
         border-radius: 5px;
        width: 100%;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }

      .email-input:hover {
        box-shadow: 0 0 10px #366cbd;  
      }

      .number-input {
        padding: 10px;
        border: 1px solid #fcb900;
         border-radius: 5px;
        width: 100%;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }

      .number-input:hover {
        box-shadow: 0 0 10px #366cbd;  
      }

      .select-input{
        padding: 10px;
        border: 1px solid #fcb900;
         border-radius: 5px;
        width: 100%;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }

      .select-input:hover {
        box-shadow: 0 0 10px #366cbd;  
      }

      .add-info-checkbox-input{
        width: 71px;
      }

      .checkbox-input{
        width: 56%;
      }

      .radio-input {
        margin-bottom: 10px;
      }

      .submit-button{
        display: flex;
        justify-content: center;
        margin-left: 8%;       
         padding: 15px;
        border: 1px solid #fcb900;
         border-radius: 5px;
        width: 50%;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }

      .submit-button:hover {
        box-shadow: 0 0 10px #366cbd;  
      }

      .next-button{
        margin-left: 38%; 
        margin-top: -111px;      
        width: 20%;
        padding: 15px;
        border: 1px solid #fcb900;
        border-radius: 5px;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }
      
      .previous-button{
        margin-left: 71px; 
        padding: 15px;
        width: 20%;
        border: 1px solid #fcb900;
        border-radius: 5px;
        
        font-size: 16px;
        transition: box-shadow 0.3s;
      }

      .previous-button-other{
        margin-left: 71px; 
        padding: 15px;
       
        border: 1px solid #fcb900;
        border-radius: 5px;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }

      .next-button-other{
         
        margin-top: -140px;      
        
        padding: 15px;
        border: 1px solid #fcb900;
        border-radius: 5px;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }

      .button-container{
        width: fit-content;
      }

      footer{
    height: 40px;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
   
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}