header{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.header-container{
    display: flex;
    align-items: flex-start;
}

.logo {
    display: flex;
    align-items: flex-start;
}

body{
    display: flex; 
    flex-direction: column;
     align-items: center;
     background-color: #ffffff;

}

.personal-info-container{
    display: grid;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(1,900px);
    align-items: center;
    gap: 30px;
}



.skill-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 164px);
    grid-template-columns: repeat(4,165px);
    gap: 30px;
    align-items: center;
    

}


.work-experience-registration-form{
    display: grid;
    grid-template-rows: repeat(auto-fit, 80px);
    grid-template-columns: repeat(auto-fit,900px);
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.item {
    display: flex;
    
    align-items: flex-start; 
    width: 100%;
}

.item-5 textarea {
    width: 90%;
    height: 100px; 
}
.Greensol{
    font-size: 350%;
    display: flex;
}

.choose-file-pic {
    background-color: #366cbd;
}

.page-info{
    color: #fcb900;
    font-size: xx-large;
}



.reference-container{
display: grid;
grid-template-rows: repeat(5,80px);
grid-template-columns: repeat(1,900px);
gap: 30px;
justify-content: center;
align-items: center;
}


.education-container{
    display: grid;
    grid-template-rows: repeat(5,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.availability-container{
    display: grid;
    grid-template-rows: repeat(5,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.address-container{
    display: grid;
    grid-template-rows: repeat(2,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.item-1 textarea {
    width: 90%;
    height: 100px; 
}

.add-info-container{
    display: grid;
    grid-template-rows: repeat(8,80px);
    grid-template-columns: repeat(1,900px);
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.item-3 textarea {
    width: 90%;
    height: 100px; 
}